@page "/AvailableStocks"
@using BlazorPresentationServer.Services
@using BlazorPresentationServer.Authentication
@using BlazorPresentationServer.Model
@using BlazorPresentationServer.Components
@inject IStockService StockService
@inject DialogService DialogService
@inject ITransactionService TransactionService
@inject ICachedAccount CachedAccount
@inject AuthenticationStateProvider StateProvider
@inject NotificationService NotificationService



<div class="card">
    <h4 class="card-header" style="background-color: #415A77; color: white ">Available Stocks</h4>
    <div class="card-body">
        <label>
            Enter Stock Symbol:
            <input @bind="stockSymbol"/>
            <button @onclick="OnSearchAsync">Search</button>
        </label>
        @if (visible)
        {
          <StockComponent GnrlStock="rndmStock" GnrlStockList="randomStock"></StockComponent>  
        }
        <StockComponent GnrlStock = "tslaStock" GnrlStockList="teslaStock"></StockComponent>
        <StockComponent GnrlStock = "msftStock" GnrlStockList="microStock"></StockComponent>
        
    </div>
</div>


@code {
    Stock tslaStock = new();
    Stock msftStock = new();
    Stock rndmStock = new();

    Stock[] teslaStock = new Stock[30];
    Stock[] microStock = new Stock[30];
    Stock[] randomStock = new Stock[30];

    string stockSymbol = "";
    decimal total;

    bool smooth;
    bool orderOpened;
    bool visible;

    protected override async Task OnInitializedAsync()
    {
        tslaStock = await StockService.GetStockAsync("TSLA");
        teslaStock = await StockService.GetStockPriceListAsync("TSLA");
        
        msftStock = await StockService.GetStockAsync("MSFT");
        microStock = await StockService.GetStockPriceListAsync("MSFT");
    }

    protected override void OnInitialized()
    {
        DialogService.OnOpen += Open;
        DialogService.OnClose += Close;
    }

    void Open(string title, Type type, Dictionary<string, object> parameters, DialogOptions options)
    {
        Console.WriteLine("Dialog opened");
    }

    void Close(dynamic result)
    {
        if (result.Equals("true"))
        {
            Console.WriteLine("TRUEEE");
        }
        else
        {
            Console.WriteLine("Falseee");
        }
        Console.WriteLine("Dialog closed");
    }

    public async Task OnSearchAsync()
    {
        try
        {
            rndmStock = await StockService.GetStockAsync(stockSymbol.ToUpper());
            randomStock = await StockService.GetStockPriceListAsync(stockSymbol.ToUpper());
            visible = true;
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            NotificationService.Notify(new NotificationMessage {Severity = NotificationSeverity.Warning, Summary = "Error", Detail = "Invalid Stock Symbol",
                Duration = 4000});
        }
        
    }
}