@page "/EditAccount"
@using BlazorPresentationServer.Model
@using BlazorPresentationServer.Services

@inject NavigationManager NavigationManager
@inject IAccountService _accountService

<div class="card">
    <h4 class="card-header">Edit Account</h4>
    <div class="card-body">
        <EditForm Model="@changedAccount" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label>Username</label>
                <InputText @bind-Value="changedAccount.Username" class="form-control" />
                <ValidationMessage For="@(() => changedAccount.Username)" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <InputText @bind-Value="changedAccount.Password" class="form-control" />
                <ValidationMessage For="@(() => changedAccount.Password)" />
            </div>
            
            
            
            <button disabled="@loading" class="btn btn-primary">
                @if (loading) 
                {
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                Save
            </button>
            
            
            
        </EditForm>
    </div>
</div>

@code {
    private Account changedAccount = new Account();
    
    
    private bool loading;

    private async void OnValidSubmit()
    {
        try
        {
            await _accountService.AddAccountAsync(changedAccount);
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            throw;
        }
    }
}