@page "/Register"
@using BlazorPresentationServer.Model

@using System.ComponentModel.DataAnnotations
@using BlazorPresentationServer.Services
@inject NavigationManager NavigationManager
@inject IFileAdapter FileAdapter


<h3>Register</h3>
<label>This is the register page</label>


<div class="card">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
        <EditForm Model="@newAccount" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label>Username</label>
                <InputText @bind-Value="newAccount.Username" class="form-control" />
                <ValidationMessage For="@(() => newAccount.Username)" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <InputText @bind-Value="newAccount.Password" class="form-control" />
                <ValidationMessage For="@(() => newAccount.Password)" />
            </div>
            
            <button disabled="@loading" class="btn btn-primary">
                @if (loading) 
                {
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                Register
            </button>
            <NavLink href="account/login" class="btn btn-link">Cancel</NavLink>
        </EditForm>
    </div>
</div>
@code {
    private Account newAccount = new Account();
    private bool loading;
    
    
    private string errorMessage;

    
    private async void OnValidSubmit()
    {
        try
        {
            await FileAdapter.AddAccountAsync(newAccount);
            Console.WriteLine($"on valid submit + {newAccount.Username}, {newAccount.Password}");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }
    
    

}